
@{
    ViewData["Title"] = "DirectorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top:50px;"></div>
<h2>Director Page</h2>

<div class="row">
    <div style="padding:50px;">
        <div style="font-size:large;">Welcome Director <span style="color:forestgreen;">@User.Identity.Name</span></div>
    </div>
    <div style="padding-top:10px;">
        <div style="color:gray;">@ViewBag.Message</div>
    </div>
</div>

